Checks: >
  -*,
  bugprone-*,
  performance-*,
  readability-*,
  clang-analyzer-*,
  modernize-*,
  cppcoreguidelines-avoid-magic-numbers,
  -readability-magic-numbers,
  -readability-braces-around-statements,  
  -readability-identifier-length,
  -readability-implicit-bool-conversion,
  -readability-convert-member-functions-to-static,
  -cppcoreguidelines-owning-memory,
  -performance-avoid-endl,
  -modernize-use-trailing-return-type,
  -modernize-use-ranges,
  -modernize-use-auto,
  -modernize-loop-convert

WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle: none
